name: create deployment

on:
  workflow_dispatch:
    inputs:
      ref:
        description: |
          Ref to deploy, can be a commit sha or any ref
        default: dev
        required: true
        type: string
      environment:
        description: |
          prod or dev
        default: dev
        required: true
        type: string

jobs:
  create-deployment:
    permissions:
      deployments: write
    runs-on: ubuntu-latest
    steps:
      - name: create deployment
        uses: actions/github-script@v6
        with:
          script: |

            console.log(Object.keys(github.rest.repos))

            github.rest.repos.deployments.post({
              owner: context.repo.owner,
              repo: context.repo.repo,
              task: "deploy",
              auto_merge: false,
              ref:context.payload.inputs.ref,
              environment:context.payload.inputs.environment,
              production_environment: context.payload.inputs.environment === "production",
            });
