name: deployment

on: deployment

jobs:
  deploy:
    permissions:
      contents: write
      deployments: write
    runs-on: ubuntu-latest
    steps:
      - name: set create deployment status=in_progress
        uses: actions/github-script@v6
        with:
          script: |
            console.log(context.payload.deployment);

            const runUrl = `${context.serverUrl}/${context.payload.repository.full_name}/actions/runs/${context.runId}`

            github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "in_progress",
              deployment_id: context.payload.deployment.id,
              log_url: runUrl,
              auto_inactive: false
            });

      - name: print deployment info
        run: |
          echo "environment:${{ github.event.deployment.environment }};"
          echo "hola:${{ github.event.deployment.payload.hola }};"

      - name: attempt to get the assets from the release
        uses: actions/github-script@v6
        id: get-release
        with:
          script: |
            const getRelease = async (sha, page = 0) => {
              const { data: releases } = await github.rest.repos.listReleases({
                owner: context.repo.owner,
                repo: context.repo.repo,
                per_page: 100,
                page,
              });
              const r = releases.find((r) => r.target_commitish === sha);
              if (r) return r;
              if (release.length === 100) return getRelease(sha, page + 1);
            };

            const release = await getRelease(context.payload.deployment.sha);

            if (release) {
              console.log(release)
              const url = release.assets[0].browser_download_url
              core.setOutput("app-assets-url", url);
            } else {
              core.setOutput("app-assets-url", "");
            }

      - name: get app assets
        if: success() && steps.get-release.outputs.app-assets-url != ''
        run: |
          wget ${{ steps.get-release.outputs.app-assets-url }} -O app-assets.tar.gz
          mkdir dist
          tar -xv -f app-assets.tar.gz -C dist

      - uses: actions/checkout@v3
        if: success() && steps.get-release.outputs.app-assets-url == ''
        with:
          fetch-depth: 0
          ref: ${{ github.event.deployment.sha }}

      - name: attempt to get cached build
        id: cache-build
        if: success() && steps.get-release.outputs.app-assets-url == ''
        uses: actions/cache@v3
        with:
          path: dist
          key: app-assets-cache-${{ hashFiles('src/**') }}-${{ hashFiles('package-lock.json') }}

      - run: npm install
        if: success() && steps.get-release.outputs.app-assets-url == '' && steps.cache-build.outputs.cache-hit != 'true'

      - name: build
        if: success() && steps.get-release.outputs.app-assets-url == '' && steps.cache-build.outputs.cache-hit != 'true'
        run: npm run build

      - name: deploy
        run: cat dist/app.txt

      - name: set create deployment status=success
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "success",
              deployment_id: context.payload.deployment.id,
              auto_inactive: true,
              environment_url: "https://example.com"
            });

      - name: set create deployment status=failure
        uses: actions/github-script@v6
        if: ${{ failure() }}
        with:
          script: |
            github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "failure",
              deployment_id: context.payload.deployment.id
            });
