name: main

on:
  push:
    branches: [master]
    tags: [prod]

  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: build
        run: |
          mkdir dist
          echo "my app $ENV_NAME" >> dist/app.txt
        env:
          ENV_NAME: ${{ github.ref == 'refs/tags/prod' && 'production' || 'development' }}

      - uses: actions/upload-artifact@v3
        with:
          name: frontend-artifact
          path: dist

  test:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref != 'refs/tags/prod'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: test
        run: echo test

  deploy-production:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/tags/prod'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: frontend-artifact
          path: dist

      - name: deploy
        run: cat dist/app.txt

  deploy-development:
    runs-on: ubuntu-latest
    needs: [build, test]
    if: github.ref == 'refs/heads/dev'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: frontend-artifact
          path: dist

      - name: deploy
        run: cat dist/app.txt
