name: main

on:
  push:
    branches: [dev]
    tags: [prod]

  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: build
        run: |
          mkdir dist
          cat app.txt >> dist/app.txt
          echo "app: $ENV_NAME" >> dist/app.txt
          mkdir dist/assets
          mkdir dist/assets/0
          echo "hello" >> dist/assets/0/script.txt

          cat dist/app.txt
        env:
          ENV_NAME: ${{ github.ref == 'refs/tags/prod' && 'production' || 'development' }}

      - uses: actions/upload-artifact@v3
        with:
          name: frontend-artifact
          path: dist

      - name: get app version
        id: app-version
        run: echo "version=`node ./version.js`" >> "$GITHUB_OUTPUT"

      - name: bundle dist
        run: cd dist ; tar -czv -f ../app-assets.tar.gz *

      - uses: ncipollo/release-action@v1
        with:
          commit: ${{ github.sha }}
          # tag: ${{ github.sha }}
          tag: ${{ steps.app-version.outputs.version }}
          artifacts: app-assets.tar.gz

  test:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref != 'refs/tags/prod'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: test
        run: echo test

  deploy-production:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/tags/prod'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: frontend-artifact
          path: dist

      - name: deploy
        run: cat dist/app.txt

  deploy-development:
    runs-on: ubuntu-latest
    needs: [build, test]
    if: github.ref == 'refs/heads/dev'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: frontend-artifact
          path: dist

      - name: deploy
        run: cat dist/app.txt

  deploy-preview:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref != 'refs/tags/prod' &&  github.ref != 'refs/heads/dev'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: frontend-artifact
          path: dist

      - name: deploy
        run: cat dist/app.txt
